        .parrafo-blog {
        text-align: center;
        margin-left: 10rem;
        margin-right: 10rem;
        margin-top: 3rem;
    
        @media screen and (max-width: 768px) {
        width: 75%;
        text-align: justify;
        margin-left:3.5rem;
        margin-bottom: -1.5rem;
        }

        @media screen and (min-width: 768px) and (max-width: 992px) {
        width: 75%;
        margin-left: 6.5rem;
        } 
        } 

        .texto-blog {
        font-family: 'Roboto', sans-serif;
        font-size: 60px;
        margin-top: 3rem;
        margin-left: 4rem;
        
        @media screen and (max-width: 768px) {
        margin-left: -1rem ;
        font-size: 50px;
        text-align: center;
        }

        @media screen and (min-width: 768px) and (max-width: 992px) {
        text-align: center;
        margin-right: 2rem;
        } 
    }

        .text-blog {
        font-size: 20px;
        font-weight: 200;
        color: darkblue;
    
        @media screen and (min-width: 768px) and (max-width: 992px) {
        margin-left: 1rem;
        } 
    }

    
    .contenedor {
        margin-top: 5rem;
        margin-bottom: 7rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        

        @media screen and (max-width: 768px) {
        display: grid;
        grid-template-columns: max-content;
        gap: 2rem;
        justify-content: center;
        }

        @media screen and (min-width: 768px) and (max-width: 992px) {
        display: grid;
        grid-template-columns: max-content;
        justify-content: center;
        gap: 2rem;
        }
    }
    
    .box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    }
    
    
    @media screen and (max-width: 768px) {

    .box-4 {
    margin-top: -5rem;
    }
        
    .box-7 {
    margin-top: -5rem;
    }
    }

    @media screen and (min-width: 768px) and (max-width: 992px) {
        
    .box-4 {
    margin-top: -5rem;
    }
        
    .box-7 {
    margin-top: -5rem;
    }
    }

    .box:hover {
        transform: scale(1.1);
        transition: all;
        transition-duration: 1s;
    }