.menu-bar {
    background-color: $colorPrincipal;
    margin-top: -0.8rem;
    padding-bottom: 2rem;

    .logo {
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    font-size: 26px;
    margin-left: 15px;
    }

    .menu-link {
    color: grey;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    }
}